body {
  margin: 0;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  background-color: #ffffff;
  color: #434455;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

address {
  font-style: normal;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

h2 {
  font-weight: 700;
  font-size: 36px;
}

button {
  border: none;
  padding: 0;
}

.title-section {
  text-align: center;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* HEADER */

.header-bb {
  border-bottom: 1px solid #e7e9fc;
}

.header-menu {
  display: flex;
  align-items: center;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  line-height: 1.16667;
  color: #4d5ae5;
}

.logo-header-box {
  padding-top: 24px;
  padding-bottom: 24px;
  margin-right: 76px;
}

.logo-header-accent {
  color: #2e2f42;
}

.navigate {
  font-weight: 500;
  margin-right: auto;
}

.navigate-menu {
  display: flex;
  gap: 40px;
}

.navigate-link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  color: #2e2f42;
}

.navigate-link:hover {
  color: #404bbf;
}

.navigate-link:focus {
  color: #404bbf;
  border-bottom: 4px solid #404bbf;
}

.header-address {
  display: flex;
  gap: 40px;
}

.address-link {
  display: inline-block;
  padding-top: 24px;
  padding-bottom: 24px;
  color: #434455;
}

.address-link:hover {
  color: #404bbf;
}

.address-link:focus {
  color: #404bbf;
}

/* INTRO */

.intro {
  padding-top: 188px;
  padding-bottom: 188px;
  background-color: #2e2f42;
}

.intro-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro-title {
  max-width: 496px;
  margin-bottom: 48px;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07143;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
}

.intro-btn {
  cursor: pointer;
  max-width: 170px;
  padding: 16px 32px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  color: #ffffff;
}

.intro-btn:hover {
  background: #404bbf;
}

.intro-btn:focus {
  background: #404bbf;
}

/* FEATURES */

.features {
  padding-top: 120px;
  padding-bottom: 120px;
}

.feature {
  display: flex;
  gap: 24px;
}

.feature-item {
  width: calc((100% - 72px) / 4);
}

.feature-title {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

/* TEAME  */

.team-section {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: #f4f4fd;
}

.team-title {
  margin-bottom: 72px;
}

.team {
  display: flex;
  gap: 24px;
}

.team-item {
  width: calc((100% - 3 * 24px) / 4);
  background-color: #fff;
  border-radius: 0 0 4px 4px;
}

.team-wrap {
  padding: 32px 16px;
}

.employees-name {
  margin-bottom: 8px;
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.employees-business {
  text-align: center;
}

/* PORTFOLIO */

.portfolio-section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.portfolio-title {
  margin-bottom: 72px;
}

.portfolio {
  display: flex;
  gap: 48px 24px;
  flex-wrap: wrap;
}

.portfolio-item {
  width: calc((100% - 48px) / 3);
  box-shadow:
    0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-wrap {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-product {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

/* FOOTER */

.footer-bc {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #2e2f42;
}

.logo-footer {
  display: inline-block;
  margin-bottom: 16px;
}

.logo-footer-accent {
  color: #f4f4fd;
}

.footer-text {
  max-width: 264px;
  color: #f4f4fd;
}
